body {margin:0;overflow:hidden;background:magenta;}
#gfw-input-overlay {position:absolute;z-index:10000;top:0;left:0;}
#gfw-input-overlay:focus {outline:0;}
canvas:focus {outline:0;}

.clearfix {clear:both}

@font-face {font-family: 'VeraMono'; src: url('font/VeraMono.ttf'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'VeraMono'; src: url('font/VeraMono-Bold.ttf'); font-weight: bold; font-style: normal;}
@font-face {font-family: 'VeraMono'; src: url('font/VeraMono-Italic.ttf'); font-weight: normal; font-style: italic;}
@font-face {font-family: 'VeraMono'; src: url('font/VeraMono-Bold-Italic.ttf'); font-weight: bold; font-style: italic;}

#left-anchor {
	position:fixed;left:0;top:0;font-size:14px;font-family:"VeraMono";
	text-shadow: 1px 1px #ffffff;z-index:70000;padding:5px;text-align:left;
	cursor:default;pointer-events:none;opacity:0.75;
}
#left-anchor:hover {opacity:1.0;}
#monitor-box {text-shadow:none;display:none;margin-bottom:10px;}
#monitor-box .monitor-header{font-weight:bold;}
#monitor-box .monitor-label{font-weight:bold;margin-top:5px}
#monitor-box .monitor-name {}
#monitor-box .monitor-value {}
#monitor-box:hover {background:transparent;border:0;}

#controls-box {text-shadow:none;display:none;margin-bottom:10px;}
#controls-box .controls-header{font-weight:bold;}
#controls-box .controls-label{font-weight:bold;margin-top:5px;}
#controls-box .controls-name {}
#controls-box .controls-value {}
#controls-box:hover {background:transparent;border:0;}

#monitor-box .monitor-name,
#controls-box .controls-name, 
#monitor-box .monitor-label,
#controls-box .controls-label {color:white;}

#monitor-box .monitor-value,
#controls-box .controls-value,
#monitor-box .monitor-header,
#controls-box .controls-header {color:white;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.toast {position:fixed;left:50%;bottom:35px;z-index:60000;display:none;text-align:center;}
.toast .inner {position:relative;left:-50%;top:-50%;background:#000a;border-radius:4px;padding:6px 8px;text-align:center;}
.toast-text {font-family:"VeraMono";font-size:14px;color:white;text-align:center;}
.toast.info .inner {}
.toast.success .inner {background:#0a0a;}
.toast.error .inner {background:#a00a;}